@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: bold
  }
  @font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: lighter
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;

    background-color: #FF8C00;
    background-image: linear-gradient(to bottom right, #FF8C00, #F0E68C);
    background-attachment: fixed;
  }  

  h2 {
    font-size: 1.7em;
    font-weight: 200;
  }
  /* Remove Focus dos browsers */
  textarea:focus, input:focus, select:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid #c0c2c3;
    outline: 0;
} 